/* alap stílus */

/*betűtípus importálás*/
 @import 'https://fonts.googleapis.com/css?family=Oswald';

header {
    background: url('kepek/hatter_felso.jpg')
}

body {

}

h1,h2 {
    font-family: 'Oswald', sans-serif;
	text-shadow: 2px 2px 1px #ccc;
}

header, footer, main {
    width: 70%;
    min-width: 400px;
    max-width: 1000px;
}

main {
    background: rgba(255, 255, 255);
}

header, footer {
    background-color: rgba(255, 255, 255, 0.9);
}

.kipozicional {
    position: absolute;
    left: -9999px;
}

.kipozicional:focus {
    position: static;
    left: 0;
}

#oldalmenu a:visited {
    color: #666;
}

#oldalmenu .ikon:hover {
    transform: scale(1.3);
}

#leiras > .ikon {
    background: url('kepek/ikonkeszlet.png') 0 -30px;
}